<ul>
  <li>
    <a href="https://github.com/DiguyaDeveloper" target="_blank"
      >Ver meu portifólio</a
    >
  </li>
  <li>
    <a href="https://rocketseat.com.br/explorer" target="_blank"
      >Conheça o Explorer</a
    >
  </li>
</ul>
<div id="social-links">
  <a href="https://github.com/diguyadeveloper" target="_blank">
    <ion-icon name="logo-github"></ion-icon>
  </a>

  <a href="https://www.instagram.com/idiguya/" target="_blank">
    <ion-icon name="logo-instagram"></ion-icon>
  </a>

  <a
    href="https://www.youtube.com/channel/UCaoU71r7Kfy7dvOz4U-v6ww"
    target="_blank"
  >
    <ion-icon name="logo-youtube"></ion-icon>
  </a>

  <a href="https://www.linkedin.com/in/diego-ceccon/" target="_blank">
    <ion-icon name="logo-linkedin"></ion-icon>
  </a>
</div>
